 @import url(//db.onlinewebfonts.com/c/878812403fc38d24102f0458bf6e4744?family=Lucida+Grande);
    @font-face {
        font-family: "Lucida Grande";
        src: url("//db.onlinewebfonts.com/t/878812403fc38d24102f0458bf6e4744.eot");
        src: url("//db.onlinewebfonts.com/t/878812403fc38d24102f0458bf6e4744.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/878812403fc38d24102f0458bf6e4744.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/878812403fc38d24102f0458bf6e4744.woff") format("woff"), url("//db.onlinewebfonts.com/t/878812403fc38d24102f0458bf6e4744.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/878812403fc38d24102f0458bf6e4744.svg#Lucida Grande") format("svg");
    }
	
 h1 {
  font-family: 'Lucida Grande';
    color: rgb(12, 0, 3);
    font-size: 40px;

   }


 h3 {
    font-family: 'Lucida Grande';
      color: rgb(12, 0, 3);
      font-size: 15px;
    }


a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}