<h1>Логин</h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    {% if form.error != '' -%}
    <p style="color: red;">{{ form.error }}</p>
    {%- endif %}
    <p>{{ form.submit() }}</p>
</form>
<p>Нет аккаунта? <a href="{{ url_for('signup') }}">Регистрация</a></p>

<br><a href="{{ url_for('facility_login', username='obama') }}">Войти как Обама</a>
<br><a href="{{ url_for('facility_login', username='merkel') }}">Войти как Меркель</a>
<br><a href="{{ url_for('facility_login', username='elizaveta_ii') }}">Войти как Елизавета ||</a>
