<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <header>
        <div class="coffee-project">КофеПроджект</div>
    </header>

    <main>
        <input type="text" name="" id="user-name" placeholder="Юзернейм">
        <input type="password" name="" id="password" placeholder="Пароль"><br>
        <button class="sign-in">Войти</button>
    </main>

    <footer>
        <span>Нет аккаунта?</span>
        <a href=""><button class="sign-up">Зарегистрироваться</button></a>
    </footer>
</body>

</html>