<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Topics-guest</title>
    <link rel="stylesheet" href="../static/topics-guest.css">
</head>

<body>
    <header>
        <a href="../static/image/re-build-all.jpg" class="coffee-project">КофеПроджект</a>
        <div class="account">
            <span id="guest">Гость</span><br>
            <a href="login.html" id="sign-in">войти</a>
        </div>
    </header>

    <main>
        <div class="theme-block-main">
            <div class="theme-block-main-1">
                <div class="theme-block-1">Курица или яйцо</div>
                <span class="message">Eugene: Тегай тех, кто еще не сделал</span>
                <div class="date-block">16:33<br>8/11</div>
            </div>

            <div class="theme-block-main-2">
                <div class="theme-block-2">Мясо или рыба</div>
                <span class="message">Koala: Где остальные вопросы?</span>
                <div class="date-block">16:33<br>8/11</div>
            </div>

            <div class="theme-block-main-3">
                <div class="theme-block-3">IOS или Android</div>
                <span class="message">Dan P: Вам отдельно макет / дизайн / вертска всего сайта не нужна. Верстка и
                    диза....</span>
                <div class="date-block">16:33<br>8/11</div>
            </div>

            <div class="theme-block-main-4">
                <div class="theme-block-4">Пиво или вино</div>
                <span class="message">Alex: Это как? Это где?</span>
                <div class="date-block">16:33<br>8/11</div>
            </div>
        </div>
    </main>
</body>

</html>