<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>topic massage-guest</title>
    <link rel="stylesheet" href="../static/topic-messages-guest.css ">
</head>

<body>
    <header>
        <a href="../static/image/re-build-all.jpg" class="coffee-project">КофеПроджект</a>
        
        <div class="account">
            <span>Гость</span> <br>
            <a href="login.html" id="sign-in">войти</a>
        </div>
    </header>

    <main>
        <div class="theme-block-main">
            <div class="theme-block-main-header">Курица или яйцо</div>

            <div class="theme-block-main-1"><span class="message">
                    Eugene: Тегай тех, кто это еще не сделал
                </span>
                <div class="date-block">16:33<br>8/11</div>
            </div>

            <div class="theme-block-main-2"><span class="message">Коала: Где остальные вопросы</span>
                <div class="date-block">16:33<br>8/11</div>
            </div>

            <div class="theme-block-main-3"><span class="message">DanP: Вам отдельно макет/дизайн/верстка всго сайта не
                    нужна<br>
                    Верстка и дизайн делается по каждой фиче</span>
                <div class="date-block">16:33<br>8/11</div>
            </div>

            <div class="theme-block-main-4"><span class="message">Alex: Это как? Это где?</span>
                <div class="date-block">16:33<br>8/11</div>
            </div>
        </div>
    </main>
</body>

</html>
