{% for t in topics %}
<a href='/topic/{{t.id}}'>{{ t.created_on }} {{ t.author.username }}: {{ t.name }}</a>
<br>
{% endfor %}

<br>
<br>

{% if current_user.is_authenticated -%}
Юзер: {{ current_user.username }}
<br><a href="{{ url_for('logout') }}">Выйти</a>
{% else %}
Юзер: гость
<br><a href="{{ url_for('login') }}">Войти</a>
<br>
<br><a href="{{ url_for('test_login', username='obama') }}">Войти как Обама</a>
<br><a href="{{ url_for('test_login', username='merkel') }}">Войти как Меркель</a>
<br><a href="{{ url_for('test_login', username='elizaveta_ii') }}">Войти как Елизавета ||</a>
{%- endif %}